<%- include('partials/header'); -%>
<div class="img">
    <main class="index">
        <header class="masthead d-flex">
            <div class="container text-center ">
                <h1 class="mb-1">Libreria</h1>
            </div>
        </header>
    </main>
</div>

<%- include('partials/footer'); -%>