<%- include('../partials/header'); -%> <%- include('../partials/nav'); -%>

<div class="ml-5 ml-auto">
  <section>
    <div class="d-flex bd-highlight mb-3">
      <div class="m-2 ml-auto">
        <a href="/estudiantes/new" class="btn btn-success"
          ><i class="fas fa-plus-circle"></i>Nuevo Estudiante</a
        >
      </div>
    </div>
  </section>
</div>

<%- include('../partials/footer'); -%>
